{% extends 'layout.html' %}


{% block body%}
<div class="jumbotron">
    <h1 class="display-4">Book review app</h1>
    <p class="lead">With this app you can review your favorite books as well as see what other people are saying about their favorite books.</p>
    <hr class="my-4">
    <p>It's made with flask, bootstrap and love.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{ url_for('signup')}}" role="button">Sign up</a>
        <a class="btn btn-primary btn-lg" href="#" role="button">Log in</a>
    </p>
</div>
{% endblock %}